---
import Layout from "../layouts/BaseLayout.astro";

const pageTitle = "首页";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle={pageTitle}>
  <h1>Astro{pageTitle}</h1>

  <script>
    import '../scripts/menu.js'
  </script>
</Layout>
